#bodyDiv{
  display: flex;
  justify-content: space-around;
  
  
  
}
#imgContainer{
  margin-top: 20vh;
  width: 350px;
}
#picture{
  height: 300px;
  width: 350px
}
ion-icon{
  color:gold;
}

.avatarpic{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  
  float: left;
}
#profile{
  padding-left: 70px;
  margin-top: 25px;
  padding-top: 10px;
  
}
#profile h4{
  margin: 0;
 
  
}
#profile p{
  margin:0;
  margin-top: 5px;
  
}

